body {
    font-size: 10px;
    background: rgb(149, 194, 215);
}

.logo-text {
    background: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 37px;
}

.thumbnail-title {
    background: rgb(96, 125, 139);
    color: rgb(202, 238, 255);
    display: block;
    margin: 0;
    padding: 4px 10px;
    font-size: 18px;
}

.thumbnail-image {
    width: 100%;
    display: block;
}

.thumbnail-item {
    border: 1px solid rgb(100%, 100%, 100%);
    border: 1px solid rgba(100%, 100%, 100%, 0.8);
    display: block;
    padding: 40px;
}

.thumbnail-item+.thumbnail-item {
    margin-top: 10px;
}

.thumbnail-list {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}